@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background-color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 120px 0 0 0;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 100px;
}

h2 {
  font-weight: 600;
  text-align: center;
}

h3 {
  font-weight: 400; 
  text-align: center;
  color: #0018a5;
}

p, input, button {
  font-weight: 300; 
}

/* Header */
.header {
  text-align: center; 
  padding: 40px 0; 
  background-color: #0018a5; 
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  width: 100vw; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000; 
  height: 300px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  box-sizing: border-box; 
  flex-direction: column;
}

.header h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 0; 
  padding: 0; 
}

.header h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0; 
  padding: 0; 
}

.container {
  max-width: 600px; 
  margin: 0 auto;   
  padding: 20px;
  margin-top: 120px; 
}


.form {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.results {
  text-align: center;
  margin-top: 20px;
}

input, select {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #fff;
  cursor: pointer;
}

input, select, button {
  margin-bottom: 20px;
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus, select:focus {
  border-color: #0018a5;
  box-shadow: 0 0 5px rgba(30, 64, 175, 0.5);
  outline: none;
}

.radio-button input[type="radio"] {
  outline: none; 
  box-shadow: none; 
}

.fav-instrument .radio-group {
  display: flex;
  gap: 10px;
  justify-content: space-evenly; 
  margin-bottom: 30px;
  flex-wrap: wrap; 
}

.fav-instrument .radio-button .checkmark {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  visibility: hidden;
}

.fav-instrument .radio-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  transition: background-color 0.3s ease;
  flex: 1; 
  height: 100px; 
  min-width: 150px; 
  max-width: 200px; 
}

.radio-button.checked {
  background-color: #8facda; 
}

.fav-genre h2 {
  font-size: 1.25rem;
  color: #0018a5;
  margin-bottom: 10px;
}

.fav-artist h2 {
  font-size: 1.25rem;
  color: #0018a5;
  margin-bottom: 10px;
}

.fav-instrument h2 {
  color:#0018a5;
  padding-top: 450px;
}

.submit-button {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 18px;
  background-color: rgb(149, 160, 170);
  color: white;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  margin-bottom: 40px;
}

.submit-button:hover {
  background-color: #0018a5;
}

@media (max-width: 768px) {
  .fav-instrument .radio-group {
    flex-direction: column; 
    align-items: center;
    gap: 10px;
  }

  .fav-instrument .radio-button {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
  }

  .header {
    padding: 20px 30px; 
  }

  .container {
    margin-top: 160px;
  }
}

@media (max-width: 480px) {
  .form {
    padding: 20px 20px; 
  }

  .submit-button {
    padding: 12px; 
  }
}

